
.array-visuals-div{
    display: flex;
    width: auto;
    height: 4rem;
    justify-content: center;
    align-items: center;
    gap: 1px;
    margin-top: 3rem;
}

.ar-ele-div{
    width: 4rem;
    height: 3rem;
    background-color: #7e7c94;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.compare-divs{
    background-color: #4e4892;
}
.swap-divs{
    background-color: #a8a76b;
}
.passIndex-divs{
    background-color: rgb(20, 211, 45);
}