.ss-array-visual-div {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: 4rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 3rem;
    gap: 3px;
  }
  
  .ss-ele-div, .eswap-big-div {
    position: relative;
    width: auto;
    height: 3rem;
    background-color: #17181c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border-radius: 5px;
    gap: 3px;
  }
  
  .ss-ar-top-ele-div, .ss-psudo-ele-div{
    width: 4rem;
    height: 3rem;
    background-color: #bebfce;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border-radius: 5px;
  }
  .ss-psudo-ele-div{
    position: relative;
    background-color: transparent !important;
  }
  .top-Swap-Div{
    height: 3rem;
    position: absolute;
    background-color: transparent !important;
    z-index: 2;
  }

  .ss-swap-ele:nth-child(1) {
    position: absolute;
    left: 0;
    -webkit-animation: ssleftBlock 1s ease-out;
            animation: ssleftBlock 1s ease-out;
    
  }
  
  .ss-swap-ele:nth-child(2) {
    position: absolute;
    right: 0;
    -webkit-animation: ssrightBlock 1s ease-out;
            animation: ssrightBlock 1s ease-out;
  }
  @-webkit-keyframes ssleftBlock {
    0% {
      left:-webkit-calc(100% - 4rem);
      left:-moz-calc(100% - 4rem);
      left:calc(100% - 4rem);
      box-shadow: 4px 4px 5px  #17181c;
    }
    100% {
      left: 0;
      box-shadow: none;
    }
  }
  
  @keyframes ssleftBlock {
    0% {
      left:-webkit-calc(100% - 4rem);
      left:-moz-calc(100% - 4rem);
      left:calc(100% - 4rem);
      box-shadow: 4px 4px 5px  #17181c;
    }
    100% {
      left: 0;
      box-shadow: none;
    }
  }
  
  @-webkit-keyframes ssrightBlock {
    0% {
      right:-webkit-calc(100% - 4rem);
      right:-moz-calc(100% - 4rem);
      right:calc(100% - 4rem);
      box-shadow: 4px 4px 5px  #17181c;
    }
    100% {
      right: 0;
      box-shadow: none;
    }
  }
  
  @keyframes ssrightBlock {
    0% {
      right:-webkit-calc(100% - 4rem);
      right:-moz-calc(100% - 4rem);
      right:calc(100% - 4rem);
      box-shadow: 4px 4px 5px  #17181c;
    }
    100% {
      right: 0;
      box-shadow: none;
    }
  }
  .ss-minIndx-divs{
      background-color: #e07537;
  }
  .ss-compare-divs{
    background-color: #c0966c;
  }
  .ss-swap-ele-color {
    background-color: #c4c262da;
  }
  .passIndex-divs {
    background-color: #5cce6b;
  }

  .ss-array-indexes{
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }
  .ss-array-indexes div{
    width: 4rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3d3d4e;
  }