.middlebar-main-div{
    position: relative;
    width: 48%;
    height: auto;
    padding: 0 1rem;
    user-select: none;
}
.middlebar-main-div span{
    position: absolute;
    padding: 4px 8px;
    right: 1rem;
    top: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #22252c;
    color: #767e91;
    user-select: none;
}
.goback-btn{
    position: absolute;
    padding: 4px 8px;
    left: 1rem;
    top: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #34373f;
    color: #767e91;
    user-select: none;
    cursor: pointer;
}
.m-m-label{
    margin-top: 1.4rem;
    color: #bebfce;
    font-family: "Poppins", sans-serif;
}